body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #222;
  line-height: 200%;
  font-size: 1.4rem;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  min-height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row,
.container {
  margin: 5rem auto;
}

h5 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #222;
  letter-spacing: 0.1rem;
}

.MuiSvgIcon-root {
  color: #8e701d;
}
.MuiSvgIcon-root:hover,
.MuiSvgIcon-root:active {
  color: #04091e;
}
p {
  text-transform: capitalize;
}

a {
  transition: all 0.2s !important;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #04091e !important;
  letter-spacing: 0.1rem;
}

.card {
  transition: all 0.5s !important;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.card:hover,
.card:active {
  background-color: #04091e;
  color: #ccc !important;
}
.card:hover .MuiSvgIcon-root,
.card:active .MuiSvgIcon-root,
.card:hover h5,
.card:active h5 {
  color: #8e701d !important;
}

.success {
  width: 100%;
  height: 5rem;
  color: #eee;
  background-color: #33c533;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.MuiInputLabel-formControl,
.MuiInputLabel-animated {
  font-size: 1.5rem;
  color: #04091e;
}
nav {
  background-color: #8e701d;
  box-shadow: 0 0.1rem 0.2rem #04091e;
}
@media (max-width: 600px) {
  p {
    text-align: center;
  }
  .row,
  .container {
    margin: 3rem auto;
  }

  h5 {
    font-size: 1.7rem;
  }
}
